<template>
	<div @mousedown="e => e.preventDefault()" class="virtual-keyboard">
		<transition :name="animation" mode="out-in">
			<div
				@mousedown="e => e.preventDefault()"
				v-if="meta.length"
				class="keys"
				v-bind:style="gridSizes"
				:key="this.layout_name"
			>
				<template v-for="(rows, row) in meta">
					<template v-for="(char,key) in rows" v-bind="{row}">
						<Key
							:key="((row << 8) | (key << 4) | metaIndex)"
							:disabled="typeof char === 'string' ? false : isKeyDisabled(char)"
							:icons="icons"
							v-on:char="onChar"
							v-on:action="onAction"
							v-bind="typeof char === 'string' ? {char} : char"
							:shifted="doShift"
							:iconSVG="char.icon ? iconSVG(char.icon) : undefined"
						/>
					</template>
				</template>
			</div>
		</transition>
	</div>
</template>

<script>
import Key from "./key.vue";
import LocaleMixin from "./locale-mixin";
import IconsSVG from "./icons_svg"

export default {
	name: "VirtualKeyboard",
	mixins: [LocaleMixin],
	components: { Key },
	data() {
		return {
			metaIndex: 0,
			input: undefined,
			timeout: -1,
			shiftIndex: 0 // can be 0,1,2
		};
	},
	props: {
		layout: {
			type: String,
			default: undefined
		},
		value: {
			type: String,
			default: undefined
		},
		icons: {
			type: Boolean,
			default: true
		},
		hideOnBlur: {
			type: Boolean,
			default: true
		},
		animation: {
			type: String,
			default: "fade"
		},
		forceShift: {
			type: Boolean,
			default: false
		}
	},
	watch: {
		currentLayout() {
			this.metaIndex = 0;
		}
	},
	computed: {
		gridSizes() {
			let width = this.meta[0]
					.map(k => k.colSpan || 2)
					.reduce((a, b) => a + b, 0),
				height = this.meta.length;
			return {
				"grid-template-columns": `repeat(${width}, 30px)`,
				"grid-template-rows": `repeat(${height}, 50px)`
			};
		},
		layout_name() {
			return (
				this.layout ||
				(this.input && this.input.getAttribute("keyboard-layout"))
			);
		},
		currentLayout() {
			console.log(this.locale_prop(this.layout_name));
			
			return this.locale_prop(this.layout_name);
		},
		use_directive() {
			return this.layout === undefined && this.value === undefined;
		},
		meta() {
			return !this.currentLayout
				? []
				: this.currentLayout[this.metaIndex];
		},
		doShift() {
			if (this.shiftIndex === 1 || this.shiftIndex === 2 || this.forceShift) {
				return true
			} else {
				return false 
			}
		}
	},
	methods: {
		onChar(evt) {
			this.$emit("char", evt);
			// console.log(evt);
			console.log('before char shifIndex:', this.shiftIndex);

			if ( this.shiftIndex < 2 ) {
				this.shiftIndex = 0
			}
			console.log('after char shifIndex:', this.shiftIndex);
			
			if (!evt.defaultPrevented) {
				let { detail: char } = evt;
				
				if (this.value !== undefined) {
					this.$emit("input", (this.value || "") + char);
				}
				if (this.use_directive) {
					let { input, index, pre, post } = this.inputData(),
						range = index + char.length;
					input.value = pre + char + post;
					input.setSelectionRange(range, range);
					input.dispatchEvent(new Event("input"));
					input.focus();
				}
			}
		},
		isKeyDisabled({ action }) {
			switch (action) {
				case "meta+":
					return this.currentLayout.length - 1 <= this.metaIndex;
				case "meta-":
					return this.metaIndex <= 1;
				case "left":
				case "right":
					return !this.use_directive || !this.input;
				default:
					return false;
			}
		},
		onAction(evt) {
			this.$emit("action", evt);
			if (!evt.defaultPrevented) {
				let { detail: action } = evt;
				switch (action) {
					case "backspace":
						if (this.value !== undefined) {
							this.$emit(
								"input",
								(this.value || "").slice(0, -1)
							);
						}
						if (this.use_directive) {
							let { input, index, pre, post } = this.inputData(),
								range = index - 1;
							input.value = pre.slice(0, -1) + post;
							input.setSelectionRange(range, range);
							input.dispatchEvent(new Event("input"));
							input.focus();
						}
						break;

					case "left": {
						let { input, index } = this.inputData();
						console.log(input.value, index);
						let range = Math.max(0, index - 1);
						console.log(range)
						input.setSelectionRange(range, range);
						break;
					}

					case "right": {
						let { input, index } = this.inputData();
						let range = Math.min(input.value.length, index + 1);
						input.setSelectionRange(range, range);
						break;
					}

					case "meta0":
						this.metaIndex = 0;
						this.shiftIndex = 0
						break;

					case "meta+":
						this.metaIndex = Math.min(
							this.metaIndex + 1,
							this.currentLayout.length - 1
						);
						this.shiftIndex = 0
						break;

					case "meta-":
						this.metaIndex = Math.max(this.metaIndex - 1, 0);
						this.shiftIndex = 0
						break;

					case "shift":
						this.shiftIndex = (this.shiftIndex + 1) % 3
						console.log("on Shift index:", this.shiftIndex);
						break;
				}
			}
		},
		registerInput(input) {
			input.addEventListener("focus", () => clearTimeout(this.timeout));
			input.addEventListener("mousedown", () => (this.input = input));
			input.addEventListener("blur", () => this.hideKeyboard());
		},
		hideKeyboard() {
			if (this.hideOnBlur) {
				this.timeout = setTimeout(() => (this.input = undefined), 50);
			}
		},
		inputData() {
			if (this.use_directive) {
				if (this.input && this.input.value !== undefined) {
					const index =
						this.input.selectionStart >= 0 ? this.input.selectionStart : this.input.value.length;
					return {
						input: this.input,
						index,
						pre: this.input.value.substr(0, index),
						post: this.input.value.substr(index)
					};
				}
			}
			return { input: null, index: -1 };
		},
		iconSVG(icon){
			console.log(IconsSVG[icon]);
			return IconsSVG[icon]
		}
	},
	mounted() {
		if (this.use_directive) {
			document
				.querySelectorAll("[keyboard-controlled]")
				.forEach(this.registerInput);
		}
	}
};
</script>

<style scoped>
.virtual-keyboard {
	width: fit-content;
}

.virtual-keyboard > .keys {
	display: grid;
	grid-column-gap: 6px;
	grid-row-gap: 8px;

	background: #f3f3f3;
	padding: 8px;
}
.virtual-keyboard > .keys.fade-enter-active,
.virtual-keyboard > .keys.fade-leave-active {
	transition: opacity 0.25s;
}
.virtual-keyboard > .keys.fade-enter,
.virtual-keyboard > .keys.fade-leave-to {
	opacity: 0;
}
</style>